{% extends 'base.html' %}
{% block title %} Seus Matches {% endblock %}

{% block content %}



<!-- Conteúdo principal -->
<div class="container mx-auto mt-10 px-4">
    <div class="bg-gradient-to-r from-blue-600 via-blue-800 to-green-500 text-white rounded-lg p-8 text-center mb-8">
        <h2 class="text-4xl font-semibold mb-4">Seus Matches</h2>
        <p class="text-lg">Essas são as vagas com as quais você recebeu match!</p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for match in matches %}
        <div class="relative bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-xl transform hover:scale-105 transition-transform duration-300 ease-in-out">
            <div class="p-6">
                <!-- Ícone de match -->
                <div class="w-12 h-12 mb-4 bg-gradient-to-r from-pink-500 to-purple-500 rounded-full flex items-center justify-center">
                    <i class="fas fa-handshake text-white text-xl"></i> <!-- Ícone representando match -->
                </div>

                <h5 class="text-xl font-bold text-gray-900 mb-2">Vaga: {{ match.job.title }}</h5>
                <p class="text-gray-600 text-sm mb-4"><strong>Empresa:</strong> {{ match.job.empresa.name }}</p>
                <p class="text-sm text-gray-700 font-medium"><strong>E-mail da Empresa:</strong> {{ match.job.empresa.email }}</p>
            </div>

            <div class="flex justify-end px-6 py-4 bg-gray-50 border-t border-gray-200 rounded-b-lg">
                <form action="{{ url_for('apply_job', job_id=match.job.id) }}" method="POST">
                    <button type="submit" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 transition-colors duration-300">
                        Ver detalhes da Vaga
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
